<div class="wrapper">
  <div class="body">
    <img class="logo" src="/assets/img/add-product.png" alt="img login">
    <h1 class="title">Create Product</h1>
    <form [formGroup]="new_product_fb" (submit)="onAddProduct(new_product_fb.value)">
      <div class="form-floating mb-3 mt-3">
        <mat-form-field appearance="fill" id="input1">
          <mat-label>Reference</mat-label>
          <input type="text" matInput placeholder="Reference" formControlName="reference">
        </mat-form-field>
      </div>
      <div class="form-floating mb-3 mt-3">
        <mat-form-field appearance="fill" id="input1">
          <mat-label>Name</mat-label>
          <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="form-floating mb-3 mt-3">
        <mat-form-field appearance="fill" id="input1">
          <mat-label>Description</mat-label>
          <input type="text" matInput placeholder="Description" formControlName="description">
        </mat-form-field>
      </div>
      <div class="form-floating mb-3">
        <mat-form-field appearance="fill" id="input1">
          <mat-label>Value</mat-label>
          <input type="number" matInput placeholder="Value" formControlName="value">
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" id="input1" > 
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let category of categories$ | async" value="{{category.id}}">{{category.id}}.{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Crear Category</button>
      </div>
    </form>
  </div>
</div>

